# Sample Visual Studio files
samples/*/.vs
samples/*/*/bin
samples/*/*/obj
samples/*/*/TestResults
samples/*/*/Debug
samples/*/*/Release
samples/*/*/x64
samples/*/*/x86
samples/*/*/ipch
samples/*/*/*.user
samples/*/*/*.suo
samples/*/*/*.cache
samples/*/*/*.ilk
samples/*/*/*.log
samples/*/*/*.tlog
samples/*/*/*.pch
samples/*/*/*.pdb
samples/*/*/*.idb
samples/*/*/*.exp
samples/*/*/*.lib
samples/*/*/*.ncb
samples/*/*/*.sdf
samples/*/*/*.opensdf
samples/*/*/*.VC.db
samples/*/*/*.VC.VC.opendb
samples/*/*/*.csproj.user
samples/*/*/*.dbmdl
samples/*/*/*.jfm
samples/*/*/*.sbr
samples/*/*/*.tlb
samples/*/*/*.tli
samples/*/*/*.tlh
samples/*/*/*.tmp
samples/*/*/*.tmp_proj
samples/*/*/*.log
samples/*/*/*.vspscc
samples/*/*/*.vssscc
samples/*/*/*.etl
samples/*/*/*.userosscache
samples/*/*/*.scc
samples/*/*/*.cachefile
samples/*/*/*.db
samples/*/*/*.opendb
samples/*/*/*.rsp
samples/*/*/*.lastbuildstate
samples/*/*/*.userprefs
samples/*/*/*.ide
samples/*/*/*.sln.docstates
samples/*/*/*.DotSettings.user
samples/*/*/*.resharper
samples/*/*/*.DotSettings
samples/*/*/publish
samples/*/*/app.publish
samples/*/*/node_modules
samples/*/*/bower_components
samples/*/*/jspm_packages
samples/*/*/dist
samples/*/*/tmp
samples/*/*/temp
samples/*/*/wwwroot/lib
samples/*/*/wwwroot/node_modules
samples/*/*/coverage
samples/*/*/nyc_output
samples/*/*/reports
samples/*/*/artifacts
